:root{
    --color-white: hsl(0,0%,100%);
    --color-lightgray: hsl(212,45%,89%);
    --color-grayishblue: hsl(220,15%,55%);
    --color-darkblue: hsl(218,44%,22%);
}

*,::before,::after{
    box-sizing:border-box;
}

body{
    margin: unset;
    font-size:15px;
    font-family:'Outfit',sans-serif;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    display:flex;
    align-items:center;
    justify-content:center; 
    min-height:100vh;
    background-color:var(--color-lightgray);
}

.container{
    max-width:290px;
    max-height:500px;
    margin:0 auto;
    background-color:var(--color-white);
    padding:15px;
    border-radius:10px;
}

.contents{
    align-items:center;
}

.contents #qr_code{
    max-width:100%;
    height:auto;
    border-radius:10px;
}

.text{
    text-align:center;
}

.text h2{
    color:var(--color-darkblue);
}

.text p{
    color:var(--color-grayishblue);
}
